# Created by .ignore support plugin (hsz.mobi)
### Yii template
vendor/*
tests/*
runtime/*

composer.lock
LICENSE.md
README.md
requirements.php
!assets/.gitignore
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
